.blue {
    width: 500px;
    height: 500px;
    background-color: blue;
    border-radius:50% ;
    margin-bottom: 20px;
}
.black{
    width: 500px;
    height: 350px;
    background-color: black;
    border-radius: 50%;
    margin: 10px auto;
}